.container {
    border: 2px solid black;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin: auto;
}

.subcontainer {
    width: 600px;
    height: 80px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



button {
    border: 2px solid black;
    width: 90px;
    height: 40px;
    text-align: center;
    box-shadow: 5px 5px #000000;
    background-color: yellow;
    
}

h2 {
    width: 120px;
    height: 40px;
    text-align: center;
}

p {
    width: 600px;
    height: 40px;
    text-align: justify;
    margin-top: 90px;
    font-size: larger;
}

#count {
    width: 120px;
    height: 40px;
    text-align: center;
}


