* {
    font-family: sans-serif;
}

h1 {
    font-size: 2cm;
    background-color: black;
    color: white;
    text-align: left;
    text-decoration: underline;
}

h1 span {
    color: rgb(255, 0, 128);
}

h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: cadetblue;
    text-align: right;
    text-decoration: underline;
}